<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We're proud of our Allotment!</h2>
                <hr class="light">
                <p class="">
                    Our community allotment is a shared area where individuals or groups have space to grow their own
                    fruits, vegetables, herbs, and flowers. As well as helping people to connect with each other and
                    with the natural world. We aim to run projects and educational programs, such as teaching children
                    about where their food comes from and the importance of sustainable agriculture. Our plot holders
                    are made up of all ages and backgrounds, whether you are an experienced gardener or just starting
                    out, this really is a community allotment.
                </p>
                <br/>
                <div class="insta-link">
                    <a href="{{ site.instagram_url }}" target="_blank"><i
                            class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>Follow us on Instagram</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
